/*
!/.bashrc
!/.gitconfig
!/.gitignore
!/.NERDTreeBookmarks
!/.npmrc
!/.vimrc
!/.xinitrc
!/.Xresources
!/README.md

!/.filezilla
!/.gimp-2.8
!/.ncmpcpp

!/.config
/.config/*

!/.config/awesome
!/.config/awesome-themes
!/.config/awesome-wallpapers
!/.config/autostart
!/.config/feh
!/.config/gconf
!/.config/gimp
!/.config/gmpc
!/.config/gtk-2.0
!/.config/gtk-3.0
!/.config/inkscape
!/.config/sublime-text-2
!/.config/sublime-text-3
!/.config/ranger
!/.config/Thunar
!/.config/xfce4
