[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:tcb-rc/awesome
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
