URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.font: -*-tamsyn-medium-*-*-*-16-*-100-100-*-80-iso8859-*
!URxvt.font: -*-tamsyn-medium-*-*-*-15-*-100-100-*-80-iso8859-*
!URxvt.font: -*-tamsyn-medium-*-*-*-14-*-100-100-*-80-iso8859-*

URxvt.scrollstyle: compact
